
@font-face {
    font-family: FontAwesome;

    src: url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.eot?v=4.7.0');

    src: url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
    url('http://maxcdn.bootstrapcdn.com/font-awesome/latest/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');

    font-weight: normal;

    font-style: normal;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
    font-weight: normal;

    font-style: normal;
}
@font-face {
    font-family: "Oswald";
    src:url('https://fonts.googleapis.com/css?family=Oswald:300,400');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    cursor: auto;
}

ul{
    list-style-type: none;
}
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}


a{
    color: inherit;
    text-decoration: none;
}

body>header{
    vertical-align: middle;
    height:62px;
    width: 100%;
    color:#7be7f8;
    background-color:#454446;
    font-family: "Oswald",sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;

}
button:focus {outline: 0}
.logo{
    float: left;
    margin: 0 20px;
}
nav{
    flex-basis: 250px;
    font-family: "Oswald",sans-serif;
    text-transform: uppercase;
    color: #fff;
    min-height: 600px;
    background-color:#39c2d7;

}
nav ul>li>a{
    display: block;
    line-height: 2.6em;
    padding-left: 31px;
}
nav>ul>li>a:hover{
    background: #31a5b7;
    color:#fff;}

nav>ul>li>a{
    border-bottom:1px solid #5dcbdc;}
nav>ul>li>ul{
    color: #7b7b7b;
    background-color:#e1f6f9;

}
nav>ul>li>ul>li>a:hover{
    color: #454446;
}
nav>ul>li:hover nav>ul>li>ul{
    display: block;

}
.active{
    background: #30a5b7;
}
li a:before{
    font-family: FontAwesome,sans-serif;
    color:#fff;
    font-size: 22px;
    margin-right: 1em;
}
.link.archive>a:before{content: '\f187';}
.link.calendar>a:before{content: '\f073';}
.link.documents>a:before{content: '\f0f6'; }
.link.home>a:before{content: '\f015';}
.link.nom>a:before{content: '\f03a';}
.link.org>a:before{content: '\f187';}
.link.documents>a::after{
    font-family: FontAwesome,sans-serif;
    content: '\f0d7';
    float: right;
    margin-right: 25px;
    color:#fff;
}
.link.incomDocs>a>span{
    width: 33px;
    height: 33px;
    text-align: center;
    float:right;
    line-height: 33px;
    margin:4px 12px 0 12px;
    font-family: FontAwesome,sans-serif;
}
.link.incomDocs>a>span:hover{background: #c9eef4;color: #7b7b7b}
.top>button{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    width: 190px;
    height: 35px;
    text-decoration: none;
    border: none;
    padding: 0 14px 0 18px;
}
.top>button:hover{
 cursor: pointer;
}
.btnattach{

    background: #ecc134;
    color: #fff;
}

.btncreate{
    background: #a3c644;
    color: #fff;
}
.btnattach:before{
    padding-top: 2px;
    float: left;
    font-family: FontAwesome,sans-serif;
    content: '\f0c6';
}
.btncreate:before{
    float: left;
    content: url("img/createdoc.png");
    width: 18px;
    height: 20px;
}

.btncreate:after,.btnattach:after{
    padding-top: 2px;
    float: right;
    font-family: FontAwesome,sans-serif;
    content: '\f0d7';
    margin-right: 0.8em;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    font-family: Source Sans Pro,sans-serif;
    line-height: 2em;
    border: solid #d2d2d2 1px;
}
.dropdown-content2{
    display: none;
    position: absolute;
    margin-left: 194px;
    background-color: #fff;
    z-index: 1;
    font-family: Source Sans Pro,sans-serif;
    line-height: 2em;
    border: solid #d2d2d2 1px;
}
.dropdown-content>li {padding: 0 1em;}
.dropdown-content2>li {padding: 0 1em;}

.dropdown-content>li:hover{
    color: #fff;
background-color: #eb6a5a;}
.dropdown-content2>li:hover{
    color: #fff;
    background-color: #999999;}
.show {
    display:block;
    width: 188px;
}
.innerBtnMenu{
    display: none;
    background:#fff;
    color: #454446;
    position: absolute;
    margin-left: 174px;
    width: 20em;
    top: 0;
    border: solid #d2d2d2 1px;

}
.innerBtnMenu>li{padding: 0 1em;}
.innerBtnMenu>li:hover{
    color: #fff;
    background-color: #eb6a5a;
}
.dropdown-content2 .innerBtnMenu>li:hover{
    background-color: #999999;}

.dropdownBtn::after{
    padding-top: 2px;
    float: right;
    font-family: FontAwesome,sans-serif;
    content: '\f0da';
    margin-right: 0.8em;
}
.dropdownBtn:active{background-color: inherit;}
.dropdown:hover .innerBtnMenu{
    display: block;
}
.up-search{
    margin: 1em;
    float: right;
}
.up-search::after{
    float: right;
    font-family:FontAwesome,sans-serif;
    color: #cdcdcd;
    cursor: pointer;
    content: '\f002';
}
.odm{
    font-size: 18px;
    float: left;
    padding: 18px 0;
}
main{
    flex-grow: 2;
    margin: 15px 14px 60px 15px;
}
.top>form{
    float: right;
}
.top>form>input{
    color: #5e5e5e;
    padding-left: 12px;
    width: 390px;
    height: 35px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
}
.top>form>button{
    border: none;
    outline: none;
    background: transparent;
    position: absolute;
    top: 86px;
    cursor: pointer;
    font-family: FontAwesome, sans-serif;
    font-size: 20px;
    color: #acacac;
}
.top>form>button#choose{  right: 84px;}
.top>form>button#search{  right: 60px;}
.top>form>button#plus{  right: 36px;}

.content{
    margin-top:15px;
    border: 2px solid #d3d3d3;
}
.content a{
   font-family: "Oswald", sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: #666666;
}
.content>ul{
    display: flex;
    background: #666666;
}
.content>ul>li{
    display: inline-block;
}
.content>ul>li>a{
    background: #666666;
    color: #feffff;
    line-height: 3em;
    float: left;
    padding: auto;
}
.tablink>a{
  padding: 0 20px;
}
.tablink.activetab>a{
    color: #666666;
    background: #fff;
}
.tablink>a:before{
    color: inherit;
    font-family:FontAwesome,sans-serif;
    float: left;
    content: "\f017";
}
.tablink:first-child>a:before{
    content: "\f040"
}
.tablink:last-child>a:before{
    content: "\f0c0"
}
.content h1{
    cursor: context-menu;
    font-family: "Oswald", sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #666666;
    font-weight: normal;
    padding: 18px;
    display: inline-block;
}
.content h1+a{
    cursor: pointer;
    font-family: "Oswald", sans-serif;
    margin-right: 25px;
    margin-top: 20px;
    text-decoration: underline;
    font-size: 14px;
    text-transform: none;
    color:#43c7db;
    position: absolute;
    padding-top: 0.5em;
}
table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    font-family: Source Sans Pro,sans-serif;
    font-weight: 400;
    font-size: 14px;
}
table th{
    padding-bottom: 1em;
    vertical-align: bottom;
}
.tableSorted{
    transition: 0.05s;
    color:#43c7db ;
    border-bottom: 2px solid #43c7db ;
}
.tableSorted:after{
    display: inline;
    margin-left: 0.3em;
    margin-right: 0.3em;
    float: right;
    font-family: FontAwesome,sans-serif;
    font-weight: 400;
    content: "\f078";
    transition: 1s;
    color:#36c3d8 ;
}
.reverse:after{transform: rotate(180deg);transition: 1s;}
table th:first-child{
    margin-left: 18px;
    padding-left: 0.5em;
    float: left;
   //color:#43c7db ;
    //border-bottom: 2px solid #43c7db ;
}/*
table th:first-child:after{
    display: inline;
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: right;
    font-family: FontAwesome,sans-serif;
    font-weight: 400;
    content: "\f078";
    color:#36c3d8 ;
}*/
.tab table p{
    float: left;
    display: inline;
}
table tr{
    line-height: 40px;
}

table tr:first-child{
    line-height: 1em;
}
table tr:nth-child(2n){
    background: #f1f1f1;
}

table th:first-child{
    margin-left: 1em;
}
table td:first-child{
    padding-left: 18px;
}
table td:last-child>a{
    font-family: FontAwesome,sans-serif;
    padding: 0.5em;
}
table td:last-child>a:first-child:hover{
    cursor: pointer;
    background: #39c2d7;
    color: #fff;
    transition: 0.2s;
}
table td:last-child>a:last-child:hover{
    cursor: pointer;
    background: #b32746;
    color: #fff;
    transition: 0.2s;
}
.mark{
    text-align: center;
    line-height: 20px;
    text-transform: capitalize;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 12px;
    width: 65px;
    height: 20px;
    color:white;
}
.signed.mark{
    background: #a3c644;
}
.awaits.mark{
    background: #ecc134;
}
.approved.mark{
     background: #39b7ac;
 }
.canceled.mark{
    background: #b32746;
}
.helded.mark{
     background: #999999;
 }
.changed.mark{
      background: #937ebd;
  }
.deleted.mark{
    background: #eb6a5a;
}
footer{
    color: #cdcdcd;
    background-color: #454446;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
}
footer>span{
    padding: 22px;
    float: left;
}
footer>ul{
    padding-right:25px ;
}
footer>ul>li{
    list-style-type: none;
    float: right;}
footer>ul>li>a {
    padding: 27px 0 22px 0;
    display: block;
}
footer>ul>li>a::before{
    font-size: 12px;
    color: #d2d2d2;
    margin-right: 15px;
    margin-left: 15px;
    font-weight: 200;
    content: "|";
}
footer>ul>li:last-child>a::before{
    opacity: 0;
}
footer a:hover{
    color:white;
}
#frm1{
    display: none;
    background: white;
    border: solid 2px #30a5b7;
    z-index: 2;
    padding: 10px;
    position: absolute;
    top: 12em;
    left: 34em;
}

#frm1>p {
    display: flex;
    flex-direction: column;
    padding: 10px;}